/* Global rules */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  background: linear-gradient(135deg, #f5a6e6, #ffc0cb, #b39cd0);
  font-family: 'Bebas Neue', sans-serif; /* Replace 'Bebas Neue' with the desired font name */
  font-size: 0.95em;
  line-height: 1.5em;
}

  
  ::selection {
    color: #000;
    background: #ff0;
  }
  
  h1 {
    font-weight: normal;
    margin: auto;
    background: #f7f7f7; /* Update to a new background color */
    line-height: 2.5em;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

  h1.page-header {
    font-family: 'Bebas Neue', sans-serif; /* Replace 'Bebas Neue' with the desired font name */
    font-weight: normal; /* Set the font weight to normal */
    font-size: 2em; /* Adjust the font size as needed */
    color: #000000; /* Specify the desired text color */
    text-shadow: none; /* Add a subtle text shadow for better visibility */
  }
  
  
  


  main.wrapper {
    background-color: #f7f7f7; /* Update to a new background color */
    overflow: auto;
  }
  
  p {
    margin: 1em;
    color: #333;
  }
  

 @import url('https://fonts.googleapis.com/css?family=Montserrat');

h2, h3 {
  font-weight: normal;
  margin-left: 1em;
  line-height: 1em;
  color: rgb(0, 0, 0); /* Dark lavender color */
}

a {
  color: rgb(212, 138, 214); /* Nude pink color */
  text-decoration: none;
}

a:hover {
    text-decoration: none;
    font-weight: bold; /* Make the text bold on hover */
  }
  
  .menu-item {
    transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */
  }
  
  .menu-item:hover {
    transform: scale(2.0); /* Scale up the menu item on hover */
  }
  
  
  
  
  
  footer {
    clear: both;
    text-align: center;
    padding: 1em;
  }
  


/* Responsive rules */

/* DESKTOP */
@media all and (min-width:1200px) {
    main.wrapper {
        width: 80%;
        margin: auto;
    }
    
    h1 {
        width: 79%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: left;
        margin-right: 2em;
    }
    
}

/* TABLET */
@media all and (min-width:501px) and (max-width:1199px) {
    main.wrapper {
        width: 90%;
        margin: auto;
    }
    
    h1 {
        width: 89%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 50%;
        float: right;
        margin-left: 1em;
    }

}

/* PHONE */
@media all and (max-width:500px) {
    main.wrapper {
        width: 100%;
    }
    
    h1 {
        width: 99%;
        padding-left: 1%;
    }
    
    picture.profile img {
        width: 100%;
    }
    
}
